In [1]:
a1 = "Hello World"

In [2]:
a1

'Hello World'

In [3]:
type(a1)

str

In [4]:
string = "my name is rajesh"

In [5]:
string[10]

' '

In [6]:
string[-1]

'h'

In [7]:
string[10]

' '

In [8]:
string[11]

'r'

In [9]:
a1

'Hello World'

In [10]:
a1.lower()

'hello world'

In [11]:
a1.upper()

'HELLO WORLD'

In [12]:
a1.replace("H","p")

'pello World'

In [13]:
a1.count("o")

2

In [14]:
a1.find("e")

1

In [15]:
s1 =("The Student name are sam,john,nisha,vicky")

In [16]:
s1.split(",")

['The Student name are sam', 'john', 'nisha', 'vicky']

In [17]:
tup1 =("john", 1 , True, 45 , "a" , False)

In [18]:
tup1

('john', 1, True, 45, 'a', False)

In [19]:
type(tup1)

tuple

In [20]:
tup1[-1]

False

In [21]:
tup1[2:5]

(True, 45, 'a')

In [22]:
len(tup1)

6

In [23]:
tup1 =(1,2,3)
tup2 =(4,5,6)

In [24]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [25]:
tup1*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
tup1*3 + tup2*2

(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6)

In [27]:
min(tup1)

1

In [28]:
max(tup1)

3

In [29]:
type(tup1)

tuple

In [30]:
list1

NameError: name 'list1' is not defined

In [ ]:
list1

In [ ]:
type(list1)

In [ ]:
list1[1]

In [ ]:
list1[2:5]

In [ ]:
list1.pop()

In [ ]:
list1.pop()

In [ ]:
list1

In [ ]:
list1.pop()

In [ ]:
list1.pop()

In [ ]:
list1

In [ ]:
list1.append("john")

In [ ]:
list1

In [ ]:
list1.reverse()

In [ ]:
list1

In [ ]:
list1.insert(2,"Rajesh") 
list1

In [ ]:
l1 =['banana','mango', 'apple','bitterroot']
l1.sort()
l1

In [ ]:
list1 = ['Python', 1, 2, 3, 'Data', True]

In [ ]:
print(list1[1:len(list1):2])

In [ ]:
l1 = ['R', 'Python', 'C', 'Java', 'Excel', 'Data']

In [ ]:
element_to_remove = 'C'
l1 = [x for x in l1 if x != element_to_remove]

# Print the modified list
print(f"List after removing {element_to_remove}: {l1}")

In [ ]:
l1 = ['R', 'Python', 'C', 'Java', 'Excel', 'Data']

In [ ]:
# d. Remove element '5' from the list
Remove1 = 'C'
if Remove1 in l1:
    l1.remove(Remove1)
else:
    print(f"{Remove1} not found in the list.")

# Print the modified list after removing '5'
print(f"List after removing {Remove1}: {l1}")

In [ ]:
friuts ={"apple":50, "Banana":40, "Mango":60, "watermelon":40}

In [ ]:
type(friuts)

In [ ]:
friuts["orange"]=50

In [ ]:
friuts

In [ ]:
friuts.pop("orange")
friuts

In [ ]:
friuts1 ={'apple': 50, 'Banana': 40}
friuts2 ={'Mango': 60, 'watermelon': 40, 'orange': 50}
friuts1.update(friuts2)

In [ ]:
friuts1

In [ ]:
friuts1.keys()

In [ ]:
friuts.values()

In [ ]:
#sets  -- in sets duplicate are not allowed
s1= {1, 'sparta', 'sparta',1}
s1

In [ ]:
# adding new elements in set
s1={1,'a',True,'b',False}
s1.add("hello")
s1

In [ ]:
#updating multiple elements
s1={1,'a',True,'b',False}
s1.update([10,20,30])
s1

In [ ]:
#removing an element
s1={1,'a',True,'b',False}
s1.remove('a')

In [ ]:
s1

In [ ]:
#union of two sets
s1 = {1,2,3,4}
s2 = {'a', 'b', 'c', 'd'}
s1.union(s2)

In [ ]:
#intersection of two sets
s1 = {1,2,3,4}
s2 = {4,8,9,72,1}
s1.intersection(s2)

In [ ]:
27%2==1

In [ ]:
27//2

In [ ]:
x = 5
x += 5
print("Updated value of x after (x+=5) is", x)

In [ ]:
x = 5
x -= 2
print("Updated value of x after (x-=5) is", x)

In [ ]:
x = 5

print("Updated value of x is", x)

In [ ]:
# '+=' operator  (Adds the values on either side and assigns it to the expressions on the left)
x += 5
print("Updated value of x after (x+=5) is", x)

In [ ]:
# '-=' operator  (subtract 2 from the latest value of x and assigns it to x which is 10)
x -= 2
print("Updated value of x after (x/=5) is", x)

In [ ]:
# '*=' operator  (multiplies the current value of x with 2 and assigns it to x which is 8)
x *= 2
print("Updated value of x after (x*=5) is", x)

In [ ]:
# '/=' operator  (multiplies the current value of x with 2 and assigns it to x which is 16.0)
x /= 2
print("Updated value of x after (x/=5) is", x)

In [ ]:
a = 21
b = 8
c = 20
d = 5
(a%b) + (c//b) -d

i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)

In [ ]:
# 'and' operators
x = 11
a = x > 10 and x < 20
print(a)

In [ ]:
5%2

In [ ]:
5%2 > 1 or 4/2 !=2

In [ ]:
# Create a empty list
empty_list = []
empty_list

In [ ]:
# Nested List
my_list =[['Data Science', 'Machine Learning'],[135,232,321]]
my_list

Accessing elements in a list

you can access the list items by referring to the index number

indexing: 
    we use the index operators[]. Ench item in a list has an assigned index value. Note that the index starts from 0 in pyhton and must be an integer
    
    print the second item of the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python','html','big data' ]
print(course)
# access the second item of a list at index 1
print(course[0])

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python','html','big data' ]
print(course[-2])

In [ ]:
D = [0 , 1 , 2 , 3 , 0 , 1 , 2 , 3 , 4]

D[D[D[D[0]]]]

In [ ]:
# define a list
list1 = ['Python', 1, 2, 3, 'Data', True] 

#print the second last element from the list
print(list1[-2])

In [ ]:
# define a list
list1 = ['Python', 1, 2, 3, 'Data', True] 

#print the frist three element from the list
print(list1[0:3])

In [ ]:
# define a list
list1 = ['Python', 1, 2, 3, 'Data', True] 

#print the all elements
print(list1[:])


# The code you provided will print a sliced portion of the list a. Here's the breakdown of the code:

a is a list containing the numbers from 1 to 10.

a[2:7:2] is a slicing operation with three components: start, stop, and step.

Start: 2 - It starts at index 2 (inclusive), which corresponds to the element 3.
Stop: 7 - It stops at index 7 (exclusive), which corresponds to the element 8.
Step: 2 - It selects every second element within the specified range.
So, the result of a[2:7:2] will be a new list containing every second element from index 2 to 6 (inclusive), which are [3, 5, 7].

When you run the code, it will print the list [3, 5, 7].

In [ ]:
a= [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

### change item value
Refer the index number to change the value of aspecific item

In [ ]:
# define a list
course = ['Data science', 'machine learning', 'python','html', 'big data']

#change the third item
course[3] = 'Stats'
course

# List Methods

python has a set of built-in methods that you can use on list and arrays

python has built-in methods that you can use on list:
    
    appends()
    insert()
    extend()
    del
    remove()
    pop()
    reverse()
    
    #list.append(item)
    the method list.append(item) will add the element at the end of a list

In [ ]:
D = [0 , 1 , 2 , 3 , 0 , 1 , 2 , 3 , 4]

print(D[0:1]+D[:2]+D[1:3]+D[2:4]+D[-5:-4])

In [ ]:
# define a list
course = ['Data science', 'machine learning', 'python','html', 'big data']

# print first three element from the list
course[:3]

In [ ]:
# define a list
course = ['Data science', 'machine learning', 'python','html', 'big data']
#print all the elements
course[:]

In [ ]:
list1 = ['Python', 1, 2, 3, 'Data', True]
print(list1[1::2])

In [ ]:
# define a list
course1 = ['Data science', 'machine learning', 'python','html', 'big data']
course2 = ['statistics']
#add element to the list
course1.append(course2)
course1

# list.insert(i,item)
This method will insert an element at the ith index in a list

In [ ]:
# define a list
course1 = ['Data science', 'machine learning', 'python','html', 'big data']

# insert element at 2nd index in a list
course.insert(2,'statistics')
course

# List Methods

Python has built-In methods that you can use on list: <br>

 append()<br>
    insert()<br>
    extend()<br>
    del<br>
    remove()<br>
    pop()<br>
    reverse()<br>

In [ ]:
# define a list
course1 = ['Data science', 'machine learning', 'statistics','python','html', 'big data']

# delete the third element from the list
del course1[2]

#pint the output
course1

In [ ]:
# define a list
course1 = ['Data science', 'machine learning', 'statistics','python','html', 'big data']

# remove element from the list
course1.remove('html')

#pint the output
course1

In [ ]:
# define a list
course1 = ['Data science', 'machine learning', 'statistics','python','html', 'big data']

course1.pop()

#list.reverse()

The reverse() method reverses the sorting order of the elements

In [ ]:
# define a list
course1 = ['Data science', 'machine learning', 'statistics','python','html', 'big data']

course1.reverse()
course1

In [ ]:
a='abcde'

b = list(a)

c = list(range(len(a)))

c.extend(b)

print(c)

In [ ]:
list1 = [4, 5, 7, -2, 0, 1] 
max(list1)

# 2. Introduction to tuple

# creating Tuple

Here, we are creating few tuples, we can have tuple of same type of data items as well as mixed type of data items

In [ ]:
# tuple of int, float,string
my_tuple = (123,2.228,"Hello Python")
print(my_tuple)

In [ ]:
my_tuple = (123, ['s','a','v'], 'world')
print(my_tuple)

#changing the element of the list
# this is valid because list is mutable
my_tuple[1][2] = 102
print(my_tuple)

 # Tuple Methods
    
    Python has two built-in methods that you can use on tuples:
        
    count()
    index()
    sorted()
    
    # Count()
    
    Returns the number of times a specified value occurs in a tuple

In [ ]:
my_tuple = ('a', 'p','p','l','e','e','d','e','d','e','a','c','w')
my_tuple.count('e')

# index()
searches the tuple for a specified value and returns the position of where it was found

In [ ]:
my_tuple = ('a', 'p','p','l','e','e','d','e','d','e','a','c','w')
my_tuple.index('p')

# sorted()
it sorts a tuple and always returns a list with the elements in a sorted manner

In [ ]:
my_tuple = (2,3,5,6,7,8,4,9,9,2,3,4,7,)
sorted(my_tuple)

In [ ]:
# What will be the result of the following Python Code?

 #Tuple methods

letters = ('a', 'b', 'c', 'd', 'e')

index = letters.index('b')

print(letters[len(letters) - index])


In this code, you have a tuple named letters containing the elements ('a', 'b', 'c', 'd', 'e'). Then, you find the index of 'b' within the tuple using the index() method, and store it in the variable index.

The index() method returns the first index at which the specified element ('b' in this case) is found in the tuple. In your tuple, 'b' is at index 1 because indexing starts at 0.

Next, you use this index variable to access an element from the letters tuple.

letters[len(letters) - index] can be rewritten as letters[5 - 1], which is equivalent to letters[4]. So, you are accessing the element at index 4 of the letters tuple, which is 'e'.

Therefore, the code will print 'e'.

In [ ]:
# What will be the result of the following Python Code?

# Tuple methods

letters = ('a', 'b', 'c', 'd', 'e')

index = letters.count('e')

print(letters[index])


In this code, you have a tuple named letters containing the elements ('a', 'b', 'c', 'd', 'e'). Then, you use the count() method to count the occurrences of 'e' in the letters tuple and store the result in the variable index.

The count() method returns the number of times a specified element ('e' in this case) appears in the tuple. In your tuple, 'e' appears once.

So, index will be assigned the value 1 because 'e' appears once in the letters tuple.

Next, you try to access an element from the letters tuple using this index variable.

letters[index] is equivalent to letters[1]. So, you are attempting to access the element at index 1 of the letters tuple, which is 'b'.

However, there's an issue with the code. It's trying to access 'b' because the index variable is 1, but it appears you intended to access 'e'. To do that, you should use index - 1 because indexing starts at 0. Here's the corrected code:

# 3. Introduction to Dictionary

General syntax of dictionary:
dictionary_name = {key_1:value_1,
                   key_2:value_2,
                   key_3:value_3,
                  }
# Create Dictionary
separate keys from values with a colon(:) , and a pair from another by a comma(,). put it all in curly braces

In [ ]:
# create dictionary

balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

In [ ]:
Dict = { 0 : [], 1 : [1], 2: [2, 2], 3: [3, 3, 3]}

print(Dict)

# Accessing items

you can access the items of a dictionary by referring to its key name,inside square brackets

In [ ]:
# Get the value of 'Mia' key

x = balance.get("Mia")
x

In [ ]:
# What will be the output for the following code?

Dict = {'A1': 'A1',
        'A2': 'A2',
        'A3': {
            'A1': 'A1',
            'A2': 'A2',
            'A3': 'A3'
        }
       }

print(Dict['A3']['A3'])

# Change Values

you can change the value of a specific element by referring to its key name

In [ ]:
# Create a dictionary

year_sales = {
    2015 : 34500,
    2016 : 34300,
    2017 : 40000
}
year_sales

In [ ]:
#change Sales figure for 2015
year_sales[2015] = 45000
year_sales

# Dictionary Length

In [ ]:
# Print the length of dictionary

print(len(year_sales))

# adding items
Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [ ]:
#create a dictionary
years_sales = {
    2015 : 34500,
    2016 : 34300,
    2017 : 40000
}
year_sales[2018]= 55000
year_sales

In [ ]:
# What will be the output for the following code?

A=['A', 'B', 'C', 'D', 'E']

B={}

B.keys() = A

B.values()=A

A=B

print(A)

In [ ]:
#create a dictionary
years_sales = {
    2015 : 34500,
    2016 : 34300,
    2017 : 40000
}

# remove key from dictionary
years_sales.pop(2015)
years_sales

# copy()
you cannot copy a dictionary simply by typing dict2 = dict1,because dict2 will only be a refrence to dict1, and changes made in dict1 will automatically also be made in dict2
you can use copy() method to make copy of dictionary

In [ ]:
#create a dictionary
years_sales1 = {
    2015 : 34500,
    2016 : 34300,
    2017 : 40000
}
#make a copy of dictionary
copy_dict = years_sales1.copy()
copy_dict

# sorted()

Return a new sorted list of keys in the dictionary

In [ ]:
Square = {1:1,3:9,6:25,7:49,9:81,1:25}
sorted(Square)