#### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,21,3],[43,728,6],[7,4,9]], columns = ['A','B','C'])

In [3]:
df1

    A    B  C
0   1   21  3
1  43  728  6
2   7    4  9

In [4]:
df2 = pd.DataFrame([[11,21,13],[5,4,6],[879,728,659]], columns = ['X','Y','Z'])

In [5]:
df2

     X    Y    Z
0   11   21   13
1    5    4    6
2  879  728  659

In [7]:
df3 =pd.merge(df1 ,df2 ,right_on='Y', left_on='B')

In [8]:
df3

    A    B  C    X    Y    Z
0   1   21  3   11   21   13
1  43  728  6  879  728  659
2   7    4  9    5    4    6