#### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [2]:
import pandas as pd

In [3]:
df2 = pd.DataFrame([[1,2,5,7,5],[2,5,8,9,7],[98,78,45,65,12],[36,89,74,58,96],[19,97,37,59,51],[68,93,14,67,57]], columns =['A1','B1','C1','D','E'])

In [5]:
df2.head()

   A1  B1  C1   D   E
0   1   2   5   7   5
1   2   5   8   9   7
2  98  78  45  65  12
3  36  89  74  58  96
4  19  97  37  59  51

In [6]:
df2.to_csv('export.csv')